<div class="container">
    <app-add></app-add>
    <table class="table table-striped">
        <thead>
            <tr>
                <th (click)="sort('namebook')">namebook <i class="fa fa-sort"></i></th>
                <th (click)="sort('descriptionbook')">descriptionbook <i class="fa fa-sort"></i></th>
                <th (click)="sort('authorbook')">authorbook <i class="fa fa-sort"></i></th>
                <th (click)="sort('datepublishbook')">datepublishbook <i class="fa fa-sort"></i></th>
                <th (click)="sort('numberbook')">numberbook <i class="fa fa-sort"></i></th>
                <th (click)="sort('pricebook')">pricebook <i class="fa fa-sort"></i></th>
                <th>Accion</th>
            </tr>
        </thead>
        <tbody>
            <tr
                *ngFor="let book of data 
                | orderBy: orderHeader: isDescOrde 
                | paginate:{id:'listing_pagination',itemsPerPage:itemsperPage,currentPage: page,totalItems:totalRecords}">
                <td>{{book.namebook}}</td>
                <td>{{book.descriptionbook}}</td>
                <td>{{book.authorbook}}</td>
                <td>{{book.datepublishbook | date: "yyyy-MM-dd" }}</td>
                <td>{{book.numberbook}}</td>
                <td>{{book.pricebook}}</td>
                <td><button class="btn btn-warning" (click)="clickAddTodo(book.id)">Editar</button>
                    <button class="btn btn-danger" (click)="eliminar(book.id)">Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="d-flex justify-content-center">
        <select class="" aria-label="Default select example" (change)="selectOption($any($event.target).value)">
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
        </select>
        <pagination-controls id="listing_pagination" max="5" (pageChange)="dataS($event)">
        </pagination-controls>
    </div>


</div>
<router-outlet></router-outlet>